<main>
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		  <h1>Editing Book</h1>
  		  <% if @book.errors.any? %>
          <%= @book.errors.count %>errors have occurred.
          <% @book.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
  		  <%= form_with model:@book, local:true do |f| %>
    	    <div class="form-group">
            <h4>Title</h4>
            <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"本のタイトル" %>
          </div>
          <div class="form-group">
            <h4>Opinion</h4>
            <%= f.text_field :body, autofocus: true, id:"inputBody", placeholder:"感想" %>
          </div>
          <div class="form-group">
            <%= f.submit "Update Book" %>
          </div>
        <% end %>
  		  <%= link_to "Show", book_path(@book) %> |
  		  <%= link_to "Back", books_path %>
      </div>
    </div>
  </div>
</main>